<h1>svn2git-web</h1>
<p>Move your svn project to git with a few clicks.</p>

<form action=/jobs method=post>
<p>svn url:</p>
<p><input type=text name="job[svn_url]" /></p>

<p>git url:</p>
<p><input type=text name="job[git_url]" /></p>

<p><input type=submit name=submit /></p>
</form>

<a href="/jobs">View All Jobs</a>
